
<div id="app">
  <transition-group name="fade" tag="ul">
    <li class="postit" v-for="(p, pid) in postits" :key="pid" :style="postitCss(p)" @mousedown="selectId($event, pid)">
      <div class="text">{{p.text}}</div>
    </li>
  </transition-group>
  <ul class="datalist">
    <li>
      <h1 style="color: white">{{nowId}}</h1>
    </li>
    <li v-for="(p, pid) in postits">
      <input v-model="p.text"/>
      <!--input(v-model="p.color")-->
      <div class="colorList">
        <div class="block" v-for="color in colorList" :style="{backgroundColor: color.color}" @click="setColor(pid, color.name)"></div>
        <button class="btn" @click="setText(pid)">Edit</button>
        <button class="btn" @click="deletePostit(pid)">Delete</button>
        <button class="btn" @click="addPostit">+ New Sticker</button>
      </div>
    </li>
  </ul>
</div>