
<div id="app">
  <div class="postit" v-for="(p, pid) in postits" :style="postitCss(p)" @mousedown="selectId($event, pid)">
    <div class="text">{{p.text}}</div>
  </div>
  <ul class="datalist">
    <li>
      <h1 style="color: white">{{nowId}}</h1>
    </li>
    <li v-for="(p, pid) in postits">
      <input v-model="p.text"/>
      <!--input(v-model="p.color")-->
      <div class="colorList">
        <div class="block" v-for="color in colorList" :styl="{backgroundColor: color.color}" @click="p.color=color.name"></div>
      </div>
    </li>
    <button @click="addPostit">+ New Sticker</button>
  </ul>
</div>