@import url(//fonts.googleapis.com/earlyaccess/notosanssc.css);
*, *:before, *:after {
  border: solid 1px;
  font-family: "Noto Sans SC";
  color: #44403F;
}

hmtml, body {
  background-color: #3E3A39;
}

.postit {
  width: 240px;
  height: 240px;
  font-size: calc( 240px/ 6 - 15px );
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFEB67;
  letter-spacing: 10px;
  font-weight: 500;
  box-shadow: 15px 10px 40px rgba(0, 0, 0, 0.4);
  position: absolute;
}

.datalist {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 30%;
}
