@import url(//fonts.googleapis.com/earlyaccess/notosanssc.css);
*, *:before, *:after {
  font-family: "Noto Sans SC";
  color: #44403F;
}

hmtml, body {
  background-color: #3E3A39;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

.block {
  width: 30px;
  height: 30px;
  background-color: #fff;
  display: inline-block;
}

.postit {
  width: 240px;
  height: 240px;
  font-size: calc( 240px/ 6 - 15px );
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFEB67;
  letter-spacing: 10px;
  font-weight: 500;
  box-shadow: 15px 10px 40px rgba(0, 0, 0, 0.4);
  position: absolute;
  transition: background-color 0.5s;
  cursor: pointer;
}
.postit .text {
  pointer-events: none;
}
.postit .colorList {
  position: absolute;
  bottom: -60px;
}
.postit .colorList .block {
  margin-right: 10px;
}

.datalist {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 30%;
}

.fade-enter-active, .fade-leave-active {
  transition: 0.5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
  transform: scale(0.1);
}
